In [77]:
import pandas as pd
import numpy as np

In [233]:
csv_df = pd.read_csv(r'/Users/zoeyneo/code/zoeyneo/investoinsight/SP500_bal_income.csv')

/var/folders/n4/35k7kmsn57n5yqhz89vtwcfr0000gn/T/ipykernel_42201/2409325143.py:1: DtypeWarning: Columns (3,4,5,7,10,18,19,20,24,25,30) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_df = pd.read_csv(r'/Users/zoeyneo/code/zoeyneo/investoinsight/SP500_bal_income.csv')

In [234]:
columns_to_keep = ['fiscalDateEnding', 'totalRevenue','Symbol', 'shortTermDebt', 'longTermDebt', 'totalShareholderEquity', 'commonStockSharesOutstanding', 'netIncome', 'ebitda', 'reportedCurrency_y']
df = csv_df.loc[:,columns_to_keep]
# df.drop(df.iloc[:, 0:1], inplace=True, axis=1)
df.head()

,fiscalDateEnding,totalRevenue,Symbol,shortTermDebt,longTermDebt,totalShareholderEquity,commonStockSharesOutstanding,netIncome,ebitda,reportedCurrency_y
0,2023-06-30,8325000000,MMM,3277000000,14203000000,7798000000,551992430,-6.841000e+09,-8760000000,USD
1,2023-03-31,8031000000,MMM,3275000000,14848000000,15298000000,551672217,9.760000e+08,1431000000,USD
2,2022-12-31,8079000000,MMM,2199000000,15939000000,14722000000,549245105,5.410000e+08,847000000,USD
3,2022-09-30,8619000000,MMM,2097000000,15705000000,14080000000,552742915,3.859000e+09,4360000000,USD
4,2022-06-30,8702000000,MMM,2513000000,15921000000,13742000000,569603928,7.800000e+07,312000000,USD

In [235]:
df['fiscalDateEnding'] = pd.to_datetime(df['fiscalDateEnding'])
df['fiscalDateEnding'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9961 entries, 0 to 9960
Series name: fiscalDateEnding
Non-Null Count  Dtype
--------------  -----
9961 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 77.9 KB

In [253]:
df_A = df[df['Symbol']=="A"]

In [255]:
df_A

df_A.drop_duplicates(subset='fiscalDateEnding', keep='first', inplace=True)

dates = pd.date_range('2018-11-01', '2022-01-01', freq="MS")
# columns_to_fill = df_A.columns.difference(['Date'])
df_A = df_A.set_index('fiscalDateEnding').reindex(dates)

/var/folders/n4/35k7kmsn57n5yqhz89vtwcfr0000gn/T/ipykernel_42201/3395380585.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_A.drop_duplicates(subset='fiscalDateEnding', keep='first', inplace=True)

In [256]:
df_A

,totalRevenue,Symbol,shortTermDebt,longTermDebt,totalShareholderEquity,commonStockSharesOutstanding,netIncome,ebitda,reportedCurrency_y
2018-11-01,NaN,A,None,1799000000,4593000000,322000000,NaN,NaN,USD
2018-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [252]:
#duplicate values for every month


def reindex_by_date(df):
    df.drop_duplicates(subset='fiscalDateEnding', keep='first', inplace=True)
    
    dates = pd.date_range('2018-11-01', '2022-01-01', freq="MS")
    columns_to_fill = df.columns.difference(['Date'])
    df = df.set_index('fiscalDateEnding').reindex(dates)

    # Forward-fill columns within each group
    df['totalRevenue'].ffill(inplace=True)
    df['Symbol'].ffill(inplace=True)
    df['shortTermDebt'].ffill(inplace=True)
    df['longTermDebt'].ffill(inplace=True)
    df['totalShareholderEquity'].ffill(inplace=True)
    df['commonStockSharesOutstanding'].ffill(inplace=True)
    df['netIncome'].ffill(inplace=True)
    df['ebitda'].ffill(inplace=True)
    df['reportedCurrency_y'].ffill(inplace=True)
    
    # Reindex the DataFrame with the specified date range
#     df = df.set_index('fiscalDateEnding').reindex(dates)
    
    # Backward-fill any remaining missing values
    df['totalRevenue'].bfill(inplace=True)
    df['Symbol'].bfill(inplace=True)
    df['shortTermDebt'].bfill(inplace=True)
    df['longTermDebt'].bfill(inplace=True)
    df['totalShareholderEquity'].bfill(inplace=True)
    df['commonStockSharesOutstanding'].bfill(inplace=True)
    df['netIncome'].bfill(inplace=True)
    df['ebitda'].bfill(inplace=True)
    df['reportedCurrency_y'].bfill(inplace=True)
    
    return df


# Group by 'Symbol' and apply the reindexing function to each group
monthly_df = df.groupby(df['Symbol']).apply(reindex_by_date)
# .reset_index(0, drop=True)

monthly_df.head(50)

                  totalRevenue Symbol shortTermDebt longTermDebt  \
Symbol
A      2018-11-01          NaN      A          None   1799000000
       2018-12-01          NaN      A          None   1799000000
       2019-01-01          NaN      A          None   1799000000
       2019-02-01          NaN      A          None   1799000000
       2019-03-01          NaN      A          None   1799000000
       2019-04-01          NaN      A          None   1799000000
       2019-05-01          NaN      A          None   1799000000
       2019-06-01          NaN      A          None   1799000000
       2019-07-01          NaN      A          None   1799000000
       2019-08-01          NaN      A          None   1799000000
       2019-09-01          NaN      A          None   1799000000
       2019-10-01          NaN      A          None   1799000000
       2019-11-01          NaN      A          None   1799000000
       2019-12-01          NaN      A          None   1799000000
       2020-01-01          NaN      A          None   1799000000
       2020-02-01          NaN      A          None   1799000000
       2020-03-01          NaN      A          None   1799000000
       2020-04-01          NaN      A          None   1799000000
       2020-05-01          NaN      A          None   1799000000
       2020-06-01          NaN      A          None   1799000000
       2020-07-01          NaN      A          None   1799000000
       2020-08-01          NaN      A          None   1799000000
       2020-09-01          NaN      A          None   1799000000
       2020-10-01          NaN      A          None   1799000000
       2020-11-01          NaN      A          None   1799000000
       2020-12-01          NaN      A          None   1799000000
       2021-01-01          NaN      A          None   1799000000
       2021-02-01          NaN      A          None   1799000000
       2021-03-01          NaN      A          None   1799000000
       2021-04-01          NaN      A          None   1799000000
       2021-05-01          NaN      A          None   1799000000
       2021-06-01          NaN      A          None   1799000000
       2021-07-01          NaN      A          None   1799000000
       2021-08-01          NaN      A          None   1799000000
       2021-09-01          NaN      A          None   1799000000
       2021-10-01          NaN      A          None   1799000000
       2021-11-01          NaN      A          None   1799000000
       2021-12-01          NaN      A          None   1799000000
       2022-01-01          NaN      A          None   1799000000
AAL    2018-11-01          NaN    NaN           NaN          NaN
       2018-12-01          NaN    NaN           NaN          NaN
       2019-01-01          NaN    NaN           NaN          NaN
       2019-02-01          NaN    NaN           NaN          NaN
       2019-03-01          NaN    NaN           NaN          NaN
       2019-04-01          NaN    NaN           NaN          NaN
       2019-05-01          NaN    NaN           NaN          NaN
       2019-06-01          NaN    NaN           NaN          NaN
       2019-07-01          NaN    NaN           NaN          NaN
       2019-08-01          NaN    NaN           NaN          NaN
       2019-09-01          NaN    NaN           NaN          NaN

                  totalShareholderEquity commonStockSharesOutstanding  \
Symbol
A      2018-11-01             4593000000                    322000000
       2018-12-01             4593000000                    322000000
       2019-01-01             4593000000                    322000000
       2019-02-01             4593000000                    322000000
       2019-03-01             4593000000                    322000000
       2019-04-01             4593000000                    322000000
       2019-05-01             4593000000                    322000000
       2019-06-01             4593000000                    322000000
       2019-07-01             4593000000                    322000000
       2019-08-01             4593000000                    322000000
       2019-09-01             4593000000                    322000000
       2019-10-01             4593000000                    322000000
       2019-11-01             4593000000                    322000000
       2019-12-01             4593000000                    322000000
       2020-01-01             4593000000                    322000000
       2020-02-01             4593000000                    322000000
       2020-03-01             4593000000                    322000000
       2020-04-01             4593000000                    322000000
       2020-05-01             4593000000                    322000000
       2020-06-01             4593000000                    322000000
       2020-07-01             4593000000                    322000000
       2020-08-01             4593000000                    322000000
       2020-09-01             4593000000                    322000000
       2020-10-01             4593000000                    322000000
       2020-11-01             4593000000                    322000000
       2020-12-01             4593000000                    322000000
       2021-01-01             4593000000                    322000000
       2021-02-01             4593000000                    322000000
       2021-03-01             4593000000                    322000000
       2021-04-01             4593000000                    322000000
       2021-05-01             4593000000                    322000000
       2021-06-01             4593000000                    322000000
       2021-07-01             4593000000                    322000000
       2021-08-01             4593000000                    322000000
       2021-09-01             4593000000                    322000000
       2021-10-01             4593000000                    322000000
       2021-11-01             4593000000                    322000000
       2021-12-01             4593000000                    322000000
       2022-01-01             4593000000                    322000000
AAL    2018-11-01                    NaN                          NaN
       2018-12-01                    NaN                          NaN
       2019-01-01                    NaN                          NaN
       2019-02-01                    NaN                          NaN
       2019-03-01                    NaN                          NaN
       2019-04-01                    NaN                          NaN
       2019-05-01                    NaN                          NaN
       2019-06-01                    NaN                          NaN
       2019-07-01                    NaN                          NaN
       2019-08-01                    NaN                          NaN
       2019-09-01                    NaN                          NaN

                   netIncome ebitda reportedCurrency_y
Symbol
A      2018-11-01        NaN    NaN                USD
       2018-12-01        NaN    NaN                USD
       2019-01-01        NaN    NaN                USD
       2019-02-01        NaN    NaN                USD
       2019-03-01        NaN    NaN                USD
       2019-04-01        NaN    NaN                USD
       2019-05-01        NaN    NaN                USD
       2019-06-01        NaN    NaN                USD
       2019-07-01        NaN    NaN                USD
       2019-08-01        NaN    NaN                USD
       2019-09-01        NaN    NaN                USD
       2019-10-01        NaN    NaN                USD
       2019-11-01        NaN    NaN                USD
       2019-12-01        NaN    NaN                USD
       2020-01-01        NaN    NaN                USD
       2020-02-01        NaN    NaN                USD
       2020-03-01        NaN    NaN                USD
       2020-04-01        NaN    NaN                USD
       2020-05-01        NaN    NaN                USD
       2020-06-01        NaN    NaN                USD
       2020-07-01        NaN    NaN                USD
       2020-08-01        NaN    NaN                USD
       2020-09-01        NaN    NaN                USD
       2020-10-01        NaN    NaN                USD
       2020-11-01        NaN    NaN                USD
       2020-12-01        NaN    NaN                USD
       2021-01-01        NaN    NaN                USD
       2021-02-01        NaN    NaN                USD
       2021-03-01        NaN    NaN                USD
       2021-04-01        NaN    NaN                USD
       2021-05-01        NaN    NaN                USD
       2021-06-01        NaN    NaN                USD
       2021-07-01        NaN    NaN                USD
       2021-08-01        NaN    NaN                USD
       2021-09-01        NaN    NaN                USD
       2021-10-01        NaN    NaN                USD
       2021-11-01        NaN    NaN                USD
       2021-12-01        NaN    NaN                USD
       2022-01-01        NaN    NaN                USD
AAL    2018-11-01        NaN    NaN                NaN
       2018-12-01        NaN    NaN                NaN
       2019-01-01        NaN    NaN                NaN
       2019-02-01        NaN    NaN                NaN
       2019-03-01        NaN    NaN                NaN
       2019-04-01        NaN    NaN                NaN
       2019-05-01        NaN    NaN                NaN
       2019-06-01        NaN    NaN                NaN
       2019-07-01        NaN    NaN                NaN
       2019-08-01        NaN    NaN                NaN
       2019-09-01        NaN    NaN                NaN

In [251]:
monthly_df

                  totalRevenue Symbol shortTermDebt longTermDebt  \
Symbol
A      2019-08-01          NaN    NaN           NaN          NaN
       2019-09-01          NaN    NaN           NaN          NaN
       2019-10-01          NaN    NaN           NaN          NaN
       2019-11-01          NaN    NaN           NaN          NaN
       2019-12-01          NaN    NaN           NaN          NaN
...                        ...    ...           ...          ...
ZTS    2021-09-01          NaN    NaN           NaN          NaN
       2021-10-01          NaN    NaN           NaN          NaN
       2021-11-01          NaN    NaN           NaN          NaN
       2021-12-01          NaN    NaN           NaN          NaN
       2022-01-01          NaN    NaN           NaN          NaN

                  totalShareholderEquity commonStockSharesOutstanding  \
Symbol
A      2019-08-01                    NaN                          NaN
       2019-09-01                    NaN                          NaN
       2019-10-01                    NaN                          NaN
       2019-11-01                    NaN                          NaN
       2019-12-01                    NaN                          NaN
...                                  ...                          ...
ZTS    2021-09-01                    NaN                          NaN
       2021-10-01                    NaN                          NaN
       2021-11-01                    NaN                          NaN
       2021-12-01                    NaN                          NaN
       2022-01-01                    NaN                          NaN

                   netIncome ebitda reportedCurrency_y
Symbol
A      2019-08-01        NaN    NaN                NaN
       2019-09-01        NaN    NaN                NaN
       2019-10-01        NaN    NaN                NaN
       2019-11-01        NaN    NaN                NaN
       2019-12-01        NaN    NaN                NaN
...                      ...    ...                ...
ZTS    2021-09-01        NaN    NaN                NaN
       2021-10-01        NaN    NaN                NaN
       2021-11-01        NaN    NaN                NaN
       2021-12-01        NaN    NaN                NaN
       2022-01-01        NaN    NaN                NaN

[15000 rows x 9 columns]

In [147]:
df[df['Symbol']=="MMM"].head(20)

Empty DataFrame
Columns: [fiscalDateEnding, totalRevenue, Symbol, shortTermDebt, longTermDebt, totalShareholderEquity, commonStockSharesOutstanding, netIncome, operatingIncome, ebitda, reportedCurrency_y]
Index: []

In [67]:
df['shortTermDebt'] = pd.to_numeric(df['shortTermDebt'], errors='coerce').convert_dtypes()
df['longTermDebt'] = pd.to_numeric(df['longTermDebt'], errors='coerce').convert_dtypes()
# print(df['shortTermDebt'].dtype)
# print(df['longTermDebt'].dtype)

#solvency ratio
df['debt_to_equity'] = (df['shortTermDebt'] + df['longTermDebt']) / df['totalShareholderEquity']
# print(df['debt_to_equity'].dtype)

#profitability
# df['pe_ratio'] =

In [17]:
# merge price column in
# merge revenue and NI from Income statement
# pe_ratio = (df.price * df.commonStockSharesOutstanding) / (NI - div) # profitability

SyntaxError: incomplete input (3383605275.py, line 4)