# S&P500


https://medium.com/mlearning-ai/predict-sp500-stock-price-with-python-machine-learning-sentiment-analysis-a296dc276353

In [1]:
import pandas as pd
import re

In [32]:
df = pd.read_csv('Dataset/analyst_ratings_processed.csv', index_col=0)

In [33]:
df.head(10)

,title,date,stock
0.0,Stocks That Hit 52-Week Highs On Friday,2020-06-05 10:30:00-04:00,A
1.0,Stocks That Hit 52-Week Highs On Wednesday,2020-06-03 10:45:00-04:00,A
2.0,71 Biggest Movers From Friday,2020-05-26 04:30:00-04:00,A
3.0,46 Stocks Moving In Friday's Mid-Day Session,2020-05-22 12:45:00-04:00,A
4.0,B of A Securities Maintains Neutral on Agilent...,2020-05-22 11:38:00-04:00,A
5.0,"CFRA Maintains Hold on Agilent Technologies, L...",2020-05-22 11:23:00-04:00,A
6.0,"UBS Maintains Neutral on Agilent Technologies,...",2020-05-22 09:36:00-04:00,A
7.0,Agilent Technologies shares are trading higher...,2020-05-22 09:07:00-04:00,A
8.0,Wells Fargo Maintains Overweight on Agilent Te...,2020-05-22 08:37:00-04:00,A
9.0,10 Biggest Price Target Changes For Friday,2020-05-22 08:06:00-04:00,A

In [34]:
df.shape

(1400469, 3)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400469 entries, 0.0 to 1413848.0
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   title   1400469 non-null  object
 1   date    1399180 non-null  object
 2   stock   1397891 non-null  object
dtypes: object(3)
memory usage: 42.7+ MB

In [39]:
df.isnull().sum().sort_values(ascending=False)/len(df)*100

stock    0.184081
date     0.092041
title    0.000000
dtype: float64

In [40]:
data = df.dropna()

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1397891 entries, 0.0 to 1413848.0
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   title   1397891 non-null  object
 1   date    1397891 non-null  object
 2   stock   1397891 non-null  object
dtypes: object(3)
memory usage: 42.7+ MB

In [42]:
data.tail()

,title,date,stock
1413844.0,Top Narrow Based Indexes For August 29,2011-08-29 10:41:00-04:00,ZX
1413845.0,Recap: Wednesday's Top Percentage Gainers and ...,2011-06-22 16:44:00-04:00,ZX
1413846.0,UPDATE: Oppenheimer Color on China Zenix Auto ...,2011-06-21 08:26:00-04:00,ZX
1413847.0,Oppenheimer Initiates China Zenix At Outperfor...,2011-06-21 05:59:00-04:00,ZX
1413848.0,China Zenix Auto International Opens For Tradi...,2011-05-12 09:36:00-04:00,ZX

In [44]:
data['date'] = data['date'].map(lambda x: str(x)[:-6])

/tmp/ipykernel_37006/2006150901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['date'].map(lambda x: str(x)[:-6])

In [45]:
data['date'] = pd.to_datetime(data['date']).map(lambda x: x.date())

/tmp/ipykernel_37006/4172555896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = pd.to_datetime(data['date']).map(lambda x: x.date())

In [46]:
data.tail()

                                                       title        date stock
1413844.0             Top Narrow Based Indexes For August 29  2011-08-29    ZX
1413845.0  Recap: Wednesday's Top Percentage Gainers and ...  2011-06-22    ZX
1413846.0  UPDATE: Oppenheimer Color on China Zenix Auto ...  2011-06-21    ZX
1413847.0  Oppenheimer Initiates China Zenix At Outperfor...  2011-06-21    ZX
1413848.0  China Zenix Auto International Opens For Tradi...  2011-05-12    ZX

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1397891 entries, 0.0 to 1413848.0
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   title   1397891 non-null  object
 1   date    1397891 non-null  object
 2   stock   1397891 non-null  object
dtypes: object(3)
memory usage: 42.7+ MB

In [49]:
data = data.drop(data[data['date']<pd.to_datetime("2018-01-01").date()].index)

In [50]:
data.tail()

                                                       title        date stock
1413783.0        China Zenix Auto Shares Halted News Pending  2018-06-13    ZX
1413784.0  China Zenix Auto Q1 EPS $0.08, Made $130.123M ...  2018-05-17    ZX
1413785.0  China Zenix Auto Reports Q4 EPS $0.03, Sales $...  2018-03-15    ZX
1413786.0  UPDATE: Not Seeing News In Chinese Momentum St...  2018-01-05    ZX
1413787.0  Chinese Nano-Cap Momentum Stocks Sharply Highe...  2018-01-05    ZX

In [51]:
data.shape

(402168, 3)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 402168 entries, 0.0 to 1413787.0
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   402168 non-null  object
 1   date    402168 non-null  object
 2   stock   402168 non-null  object
dtypes: object(3)
memory usage: 12.3+ MB

In [53]:
data['stock'].nunique()

4554

In [54]:
tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
tickers = tickers.Symbol.to_csv('S_P 500.csv')

In [55]:
tickers = pd.read_csv('Dataset/S_P 500.csv', index_col=0)

tickers

    Symbol
0      MMM
1      AOS
2      ABT
3     ABBV
4      ACN
..     ...
498    YUM
499   ZBRA
500    ZBH
501   ZION
502    ZTS

[503 rows x 1 columns]