In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('sentiment2018.csv')
df2 = pd.read_csv('sentiment2019p1.csv')
df3 = pd.read_csv('sentiment2019p2.csv')
df4 = pd.read_csv('sentiment2020.csv')
df5 = pd.read_csv('sentiment2021.csv')
df6 = pd.read_csv('FinnHub_StockNewsData_FinBERTScored.csv')

In [15]:
df1 = df1[['Stock', 'Date', 'Neutral', 'Positive', 'Negative']]
df1.head()

  Stock        Date       Neutral      Positive      Negative
0     A  2018-11-21  8.389207e-01  3.987503e-02  1.212042e-01
1     A  2018-11-20  9.999959e-01  1.325494e-07  3.961927e-06
2     A  2018-11-20  4.851770e-08  1.000000e+00  1.385383e-09
3     A  2018-11-20  3.539342e-07  9.999996e-01  2.367040e-08
4     A  2018-11-20  9.999979e-01  1.054393e-07  2.009748e-06

In [5]:
df1 = df1[['Stock', 'Date', 'Neutral', 'Positive', 'Negative']]
df2.head()

,Unnamed: 0,Headline,Date,Stock,Neutral,Positive,Negative
0,0,shares of many healthcare companies are tradin...,2019-05-16,A,0.008474,8.995113e-01,0.092015
1,1,60 biggest movers from yesterday,2019-05-16,A,0.954836,4.759314e-03,0.040405
2,2,44 stocks moving in wednesdays midday session,2019-05-15,A,0.999997,1.212762e-07,0.000003
3,3,benzinga pros top 10 mostsearched tickers for ...,2019-05-15,A,0.999995,1.778685e-06,0.000003
4,4,bank of america maintains buy on agilent techn...,2019-05-15,A,0.000008,9.998995e-01,0.000093

In [11]:
df3.head()

,Unnamed: 0,Headline,Date,Stock,Neutral,Positive,Negative
0,0,stocks that hit 52week highs on friday,2019-12-27,A,0.996414,0.000019,0.003567
1,1,stocks that hit 52week highs on monday,2019-12-23,A,0.997260,0.000010,0.002729
2,2,stocks that hit 52week highs on friday,2019-12-20,A,0.996414,0.000019,0.003567
3,3,stocks that hit 52week highs on thursday,2019-12-12,A,0.998194,0.000012,0.001794
4,4,theres a new trading tool that allows traders ...,2019-12-11,A,0.998351,0.001628,0.000021

In [12]:
df4.head()

,Unnamed: 0,Headline,Date,Stock,Neutral,Positive,Negative
0,0,stocks that hit 52week highs on friday,2020-06-05,A,0.996414,1.911992e-05,0.003567
1,1,stocks that hit 52week highs on wednesday,2020-06-03,A,0.997737,2.388915e-05,0.002239
2,2,71 biggest movers from friday,2020-05-26,A,0.997286,1.869326e-04,0.002527
3,3,46 stocks moving in fridays midday session,2020-05-22,A,0.999996,9.135268e-08,0.000004
4,4,b of a securities maintains neutral on agilent...,2020-05-22,A,0.112909,8.801960e-01,0.006895

In [13]:
df5.head()

  Stock        Date       Neu           Pos       Neg
0  AAPL  2020-06-30  0.342230  6.064581e-01  0.051312
1  AAPL  2020-07-31  0.999988  4.835667e-07  0.000012
2  AAPL  2020-09-30  0.999900  2.876040e-06  0.000097
3  AAPL  2020-10-31  0.748453  1.041690e-01  0.147378
4  AAPL  2020-11-30  0.700595  9.277428e-02  0.206630

In [14]:
df6.head()

,Headline,Date,Stock,Neu,Pos,Neg
0,3m co stock rises friday outperforms market,2023-09-08,MMM,1.092449e-06,0.999999,1.310364e-07
1,3m co stock outperforms competitors on strong ...,2023-09-01,MMM,2.406489e-07,1.000000,1.728735e-07
2,3m has legal problems a small one just got res...,2023-08-25,MMM,5.245719e-04,0.000138,9.993377e-01
3,3m co stock outperforms competitors despite lo...,2023-08-18,MMM,2.132090e-06,0.999997,6.621015e-07
4,audrey choi elected to 3m board of directors,2023-08-11,MMM,9.993647e-01,0.000070,5.652269e-04