In [77]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv(r'/Users/zoeyneo/code/zoeyneo/investoinsight/first_75_tickers.csv')

In [103]:
df.head()

,fiscalDateEnding,reportedCurrency,totalAssets,totalCurrentAssets,cashAndCashEquivalentsAtCarryingValue,cashAndShortTermInvestments,inventory,currentNetReceivables,totalNonCurrentAssets,propertyPlantEquipment,...,longTermDebtNoncurrent,shortLongTermDebtTotal,otherCurrentLiabilities,otherNonCurrentLiabilities,totalShareholderEquity,treasuryStock,retainedEarnings,commonStock,commonStockSharesOutstanding,Symbol
0,2023-06-30,USD,48880000000,15754000000,4258000000,4258000000,5280000000,4947000000,33126000000,9211000000,...,12954000000,14203000000,3471000000,14651000000,7798000000,32926000000,40290000000,9000000,551992430,MMM
1,2023-03-31,USD,46886000000,14963000000,3824000000,3824000000,5306000000,4638000000,31923000000,9247000000,...,12948000000,14848000000,3279000000,5448000000,15298000000,32963000000,47966000000,9000000,551672217,MMM
2,2022-12-31,USD,46455000000,14688000000,3655000000,3655000000,5372000000,4532000000,34124000000,9178000000,...,14001000000,15939000000,3190000000,5615000000,14722000000,33255000000,47950000000,9000000,549245105,MMM
3,2022-09-30,USD,46176000000,14895000000,3404000000,3404000000,5615000000,4722000000,31281000000,9196000000,...,13849000000,15705000000,3396000000,5556000000,14080000000,32843000000,48245000000,9000000,552742915,MMM
4,2022-06-30,USD,45634000000,14514000000,2722000000,2722000000,5645000000,4914000000,31120000000,9319000000,...,14019000000,15921000000,3178000000,4681000000,13742000000,30781000000,45269000000,9000000,569603928,MMM

In [104]:
df['fiscalDateEnding'] = pd.to_datetime(df['fiscalDateEnding'])
df['fiscalDateEnding'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1378 entries, 0 to 1377
Series name: fiscalDateEnding
Non-Null Count  Dtype
--------------  -----
1378 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 10.9 KB

In [105]:
#duplicate values for every month
df = df.set_index(df['fiscalDateEnding'])

def reindex_by_date(df):
    dates = pd.date_range(df.index.min(), df.index.max(),freq="MS")
    return df.reindex(dates).ffill()

df = df.groupby(df['Symbol']).apply(reindex_by_date).reset_index(0, drop=True)

In [110]:
df[df['Symbol']=="MMM"].head(20)

Empty DataFrame
Columns: [fiscalDateEnding, reportedCurrency, totalAssets, totalCurrentAssets, cashAndCashEquivalentsAtCarryingValue, cashAndShortTermInvestments, inventory, currentNetReceivables, totalNonCurrentAssets, propertyPlantEquipment, accumulatedDepreciationAmortizationPPE, intangibleAssets, intangibleAssetsExcludingGoodwill, goodwill, investments, longTermInvestments, shortTermInvestments, otherCurrentAssets, otherNonCurrentAssets, totalLiabilities, totalCurrentLiabilities, currentAccountsPayable, deferredRevenue, currentDebt, shortTermDebt, totalNonCurrentLiabilities, capitalLeaseObligations, longTermDebt, currentLongTermDebt, longTermDebtNoncurrent, shortLongTermDebtTotal, otherCurrentLiabilities, otherNonCurrentLiabilities, totalShareholderEquity, treasuryStock, retainedEarnings, commonStock, commonStockSharesOutstanding, Symbol]
Index: []

[0 rows x 39 columns]

In [67]:
df['shortTermDebt'] = pd.to_numeric(df['shortTermDebt'], errors='coerce').convert_dtypes()
df['longTermDebt'] = pd.to_numeric(df['longTermDebt'], errors='coerce').convert_dtypes()
# print(df['shortTermDebt'].dtype)
# print(df['longTermDebt'].dtype)

#solvency ratio
df['debt_to_equity'] = (df['shortTermDebt'] + df['longTermDebt']) / df['totalShareholderEquity']
# print(df['debt_to_equity'].dtype)

#profitability
# df['pe_ratio'] =

In [17]:
# merge price column in
# merge revenue and NI from Income statement
# pe_ratio = (df.price * df.commonStockSharesOutstanding) / (NI - div) # profitability

SyntaxError: incomplete input (3383605275.py, line 4)